body {color:white;font-family:trebuchet ms;background:black;}
li {display:inline}
a.nav {color:white;text-decoration:none;font-size:14px;}
a.nav:hover {color:#72e2f2;}
hr {border:1px solid #72e2f2;}
span.foot {color:#72e2f2;font-size:12px;}
table.container {border:2px solid #72e2f2;background:#002643;}
img {border:2px solid #72e2f2;}
td.nav:hover {background:#0967ae;}
span {font-size:14px;}
a {color:white;font-weight:bold;}
a:hover {color:#72e2f2;}